<html>
<head>
    
</head>
<body>
<p>Hi <%= @email %></p>
<p>You have been invited by <%= @inviter_email %> to join the Community Cats online colony app. Please use this link to create an account:</p>
<p><a href="<%= @url %>"><%= @url %></a></p>
<p>Thanks!</p>
<p>Community Cats Team</p>
</body>

</html>
